extends layout.pug 

block head 
    link(rel="stylesheet", href="/capital.css")

block content 
    h2 Capital Cities 
    table 
        thead
            th.text-center ID
            th.text-center 🏴
            th.text-center Capital City
            th.text-center Country
            th.text-center Population 
        tbody 
            each row in rows 
                tr 
                    td.text-center #{row.ID}
                    td.fit.text-center #{row.CountryCode}
                    td.fit.text-center #{row.Name}
                    td.text-center #{row.CountryName}
                    - const population = new Intl.NumberFormat().format(row.Population)
                    td.fit.text-center #{population}

