extends layout.pug

block head
    link(rel="stylesheet", href="/countries.css")

block content
    h2 Countries

    // Form for filtering countries
    form(action="/countries", method="get")
        .filters
            div
                label(for="continent") Continent:
                select(name="continent")
                    option(value="" disabled selected) Select a Continent
                    option(value="All Continents") All Continents
                    option(value="Asia") Asia
                    option(value="Europe") Europe
                    option(value="Africa") Africa
                    option(value="Oceania") Oceania
                    option(value="North America") North America
                    option(value="South America") South America
                    option(value="Antarctica") Antarctica

            div
                label(for="region") Region:
                select(name="region")
                    option(value="" disabled selected) Select a Region
                    option(value="All Regions") All Regions
                    option(value="Caribbean") Caribbean
                    option(value="Southern and Central Asia") Southern and Central Asia
                    option(value="Middle East") Middle East
                    option(value="Western Europe") Western Europe
                    option(value="Eastern Africa") Eastern Africa
                    option(value="Southeast Asia") Southeast Asia
                    option(value="Eastern Europe") Eastern Europe
                    option(value="Northern Africa") Northern Africa
                    option(value="Baltic Countries") Baltic Countries
                    option(value="South America") South America
                    option(value="British Islands") British Islands
                    option(value="Central Africa") Central Africa
                    option(value="Nordic Countries") Nordic Countries
                    option(value="North America") North America
                    option(value="Melanesia") Melanesia
                    option(value="Polynesia") Polynesia
                    option(value="Micronesia") Micronesia
                    option(value="Australia and New Zealand") Australia and New Zealand

            div.top-n-countries
                label(for="n") Top N Countries:
                input(type="number", name="n", placeholder="Enter a number")

            button(type="submit") Filter Countries

    // Existing table for displaying countries
    table
        thead
            th.text-center 🏴
            th.text-center Country
            th.text-center Continent
            th.text-center Region
            th.text-center Capital ID
            th.text-center Population
        tbody
            each row in rows
                tr
                    td.text-center #{row.Code}
                    td.fit.text-center #{row.Name}
                    td.fit.text-center #{row.Continent}
                    td.text-center #{row.Region}
                    td.text-center #{row.Capital}
                    - const population = new Intl.NumberFormat().format(row.Population)
                    td.fit.text-center #{population}
